@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Outfit:wght@400&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    background-color: #b6b6b6;
    color: #fff;
}

.main{
    margin-top: 1%;
    border-radius: 10px;
    background-color: #1d396e;
    text-align: center;
    width: 30%;
    height: 95vh;
}

h3{
    color: #fff;
    padding-top: 50px;
    font-size: 30px;
}

input, button{
    width: 90%;
    height: 50px;
    border-radius: 50px;
    border-color: #b6b6b6;
    align-items: center;
    border-style: none;
}

input{
    padding-left: 30px;
}

button{
    margin-top: 3%;
    background-color: crimson;
    font-size: 15px;
    font-weight: bold;
}

button:hover{
    background-color: crimson;
}


a{
    text-decoration: none;
    color: #fff;
}

.terms{
    display: flex;
}

p{
    margin-top: 15px;
    margin-left: 5px;
}

.p1{
    margin-top: 20%;
}

.check{
    width: 15px;
    margin-left: 30px;
}

